// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tablecenter{
	margin: 0 auto;
}


table.yokohaba{
	width:1200px;
}

table.yokohaba-kanri{
        width:1600px;
}

thead.scrollHead,tbody.scrollBody{
  display:block;
}
tbody.scrollBody{
  overflow-y:scroll;
  height:700px;
}

/*幅調整*/
td,th{
  table-layout:fixed;
}

body    {
    text-align: center;
    background-color: red;
    margin:0 auto;
}

p.fixed-0   {
    position: fixed;
    top: 80;
    left: 10;
}

p.fixed-1   {
    position: fixed;
    right: 0;
    bottom: 0;
}
